<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    *ngIf="beerLogo"
    alt="Beerrfinder Logo"
    src={{beerLogo.image_url}}
    (click)="onBeerClick(beerLogo)"
  />
  <span>Beerfinder</span>
    <div class="spacer"></div>
</div>

<div class="content" role="main">

  <app-search-bar (newSearchText)="onNewSearch($event)"></app-search-bar>
  <app-beer-list [beers]="beerMatches" (clickedBeer)="onBeerClick($event)"></app-beer-list>

  <!-- Beer details -->
  <div class="terminal">
      <p *ngIf="!selectedBeer">Select a beer to see its details.</p>
      <article *ngIf="selectedBeer">
        <h2>{{selectedBeer.name}}</h2>
        <h3>{{selectedBeer.tagline}}</h3>
        <p>{{selectedBeer.description}}</p>
      </article>
  </div>

</div>